{% extends "base.html" %}
{% block content %}
<h1>Return Books</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Member ID</th>
            <th>ISBN</th>
            <th>Catalog Number</th>
            <th>Issue Date</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction[0] }}</td>
            <td>{{ transaction[1] }}</td>
            <td>{{ transaction[2] }}</td>
            <td>{{ transaction[3] }}</td>
            <td>{{ transaction[4] }}</td>
            <td>{{ transaction[5] }}</td>
            <td>
                <a href="{{ url_for('process_return', member_id=transaction[0], isbn=transaction[1]) }}" class="btn btn-primary btn-sm">Return</a>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
